<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Emilia Cole</title>
    <link rel="shortcut icon" href="/img/favicon_io/favicon.ico" />
    <script src="https://kit.fontawesome.com/d43dfad79c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="top">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
            <ul>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-x-twitter" style="color: #000000;"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook" style="color: #000000;"></i></a></li>
                <li><a href="https://open.spotify.com/intl-es?" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a></li>
                <li><a href="https://www.apple.com/la/apple-music/" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>ABOUT <br> EMILIA //</h1>
        <h3>"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album" </h3>
        <h6>- John Tirckle, Music Today Post</h6>
        <h3>"Emilia Cole is one of the <br> scene's breakout stars"</h3>
        <h6>- John Tirckle, Music Today Post</h6>
        <img src="/img/emilia-about.jpg" alt="Fondo seccion about">
    </section>
</body>
</html>