<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <script src="https://kit.fontawesome.com/d43dfad79c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body class="index__body">
    <header class="index__margin">
        <nav class="header__index_vertical">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
            <nav class="header__redes">
            <ul>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-x-twitter" style="color: #000000;"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook" style="color: #000000;"></i></a></li>
                <li><a href="https://open.spotify.com/intl-es?" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a></li>
                <li><a href="https://www.apple.com/la/apple-music/" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a></li>
                <li><a href="https://music.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
            </ul>
        </nav>
    </header>
    <section class="index__margin">
        <h3>EMILIA <br> COLE  //</h3>

    </section>
    <section class="index__title">
        <h1>TWIST IN MY REALITY</h1>
    </section>
</body>
</html>