<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music | Emilia Cole</title>
    <link rel="shortcut icon" href="/img/favicon_io/favicon.ico" />
    <script src="https://kit.fontawesome.com/d43dfad79c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="top">
        <img src="img/emilia-music-top.jpg" alt="Imagen de fondo del header de music">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
            <ul>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-square-x-twitter" style="color: #000000;"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook" style="color: #000000;"></i></a></li>
                <li><a href="https://open.spotify.com/intl-es?" target="_blank"><i class="fa-brands fa-spotify" style="color: #000000;"></i></a></li>
                <li><a href="https://www.apple.com/la/apple-music/" target="_blank"><i class="fa-brands fa-apple" style="color: #000000;"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #000000;"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>MUSIC //</h1>
        <h4>Direct Links</h4>
        <ul>
            <li><a href="#album">Album</a></li>
            <li><a href="#video1">Video: Organic Love</a></li>
            <li><a href="#video2">Video: Street Light</a></li>
        </ul>

        <article id="album">
            <h2>ALBUM <br> TWIST IN MY REALITY</h2>
            <img src="img/emilia-play-list.png" alt="Imagen del album">
            <ol start="01">
                   
                <li>Organic Love | 02:40</li>
                <li>Twist In My Reality | 02:10</li>
                <li>Street Light | 03:28</li>
                <li>Love Don’t Live Here Anymore (Cover) | 03:49</li>
            </ol>
            <a href="#top">Go Top</a>
        </article>
        <article id="video1" style="margin-top: 100px;">
            <h2>VIDEO <br> ORGANIC LOVE</h2>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART,<br> Wix Films LTD.</p>
            <a href="#top">Go Top</a>
        </article>
       
        <article id="video2" style="margin-top: 100px;">
            <h2>VIDEO <br> STREET LIGHT</h2>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART,<br> Wix Films LTD.</p>
            <a href="#top">Go Top</a>
        </article>
    </section>
</body>
</html>